<app-header-doctor></app-header-doctor>
<p-toast #toaster position="top-center"></p-toast>
<div class="container mx-auto flex justify-center mt-10 h-screen">
    <div class="bg-white shadow-md rounded-lg p-6 w-full sm:w-96">

        <!-- Form Header -->
        <h2 class="text-2xl font-bold mb-6 text-center text-gray-800">Schedule your slot</h2>

        <!-- Form -->
        <form [formGroup]="addSlotForm" (ngSubmit)="onSubmit()" class="space-y-4">

            <!-- Date Field -->
            <div class="flex flex-col mb-4">
                <label for="date" class="text-black mb-1">Date</label>
                <p-calendar id="date" formControlName="date" [showIcon]="true" [ngClass]="{'border-red-500': addSlotForm.get('date')?.invalid && addSlotForm.get('date')?.touched,
                        'border-4': true }" class="w-full border rounded p-5 text-black"
                    [minDate]="today"></p-calendar>
                <div *ngIf="addSlotForm.get('date')?.invalid && addSlotForm.get('date')?.touched"
                    class="text-red-500 mt-1">
                    Date is required.
                </div>
            </div>

            <!-- Start Time Field -->
            <div class="flex flex-col mb-4">
                <label for="startTime" class="text-blacky-700 mb-1">Start Time</label>
                <input id="startTime" type="time" formControlName="startTime" [ngClass]="{'border-red-500': addSlotForm.get('startTime')?.invalid && addSlotForm.get('startTime')?.touched,
                                'border-4': true }" class="w-full border rounded p-5 text-gray-900" />
                <div *ngIf="addSlotForm.get('startTime')?.invalid && addSlotForm.get('startTime')?.touched"
                    class="text-red-500 mt-1">
                    Start Time is required.
                </div>
            </div>

            <!-- Consultation Method Field -->
            <div class="flex flex-col mb-4">
                <label class="text-black mb-1">Consultation Method</label>
                <select formControlName="consultationMethod" [ngClass]="{
              'border-red-500': addSlotForm.get('consultationMethod')?.invalid && addSlotForm.get('consultationMethod')?.touched,
              'border-4': true 
            }" class="w-full border rounded p-2 text-black">
                    <option value="Virtual">Virtual Consult</option>
                    <option value="Clinic">Clinic Consult</option>
                </select>
                <div *ngIf="addSlotForm.get('consultationMethod')?.invalid && addSlotForm.get('consultationMethod')?.touched"
                    class="text-red-500 mt-1">
                    Consultation Method is required.
                </div>
            </div>
            <!-- Default slot checkbox -->
            <div class="flex items-center mb-4">
                <input id="isDefault" type="checkbox" formControlName="isDefault" class="mr-2" />
                <label for="isDefault" class="text-black">Make it Default Slot</label>
            </div>

            <!-- Submit Button -->
            <div class="text-center">
                <button type="submit" class="boton-elegante mt-8">
                    Add Slot
                </button>
            </div>

            <!-- Error Message -->
            <div *ngIf="errorMessage" class="text-red-500 text-center mt-4">{{ errorMessage }}</div>

        </form>

    </div>
</div>