<p-toast #toaster position="top-center"></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<body class="bg-gray-100 font-sans antialiased">
  <div class="flex h-screen">
    <!-- Sidebar -->
    <div class="w-64 bg-red-900 text-white flex flex-col">
      <div class="flex items-center justify-center h-20 border-b border-black">
        <img src="../../../../assets/images/Online Doctor-rafiki.png" alt="Logo" class="h-12 w-12 mr-3">
        <span class="text-2xl font-semibold">Doctor</span>
      </div>
      <nav class="flex-1 mt-6">
        <a routerLink="/docProfile" class="block py-3.5 px-6 hover:bg-white hover:text-black transition duration-200">
          Profile
        </a>
        <a routerLink="/bookedSlots"
          class="block py-3.5 px-6 bg-white text-black hover:bg-white hover:text-black transition duration-200">
          Consultation Bookings
        </a>
        <a routerLink="/consultationSlots"
          class="block py-3.5 px-6 hover:bg-white hover:text-black transition duration-200">
          Doctor Slots
        </a>
        <a routerLink="/docCancelledBookings"
          class="block py-3.5 px-6 hover:bg-white hover:text-black transition duration-200">
          Cancelled Bookings
        </a>
        <a href="#" class="block py-3.5 px-6 hover:bg-white hover:text-black transition duration-200">
          Settings
        </a>
      </nav>
    </div>

    <div class="container mx-auto px-4 py-8">
      <h2 class="text-2xl font-bold mb-4">Booked Slots</h2>
      <div *ngIf="bookings.length === 0" class="text-center text-gray-500">No bookings found.</div>
      <p-table *ngIf="bookings.length > 0" [value]="bookings" class="p-datatable-striped p-datatable-gridlines"
        [paginator]="true" [rows]="6">
        <ng-template pTemplate="header">
          <tr>
            <th class="text-left p-3">Patient Details</th>
            <th class="text-left p-3">Booking Date</th>
            <th class="text-left p-3">Booking Time</th>
            <th class="text-left p-3">Consultation Method</th>
            <th class="text-left p-3">Consultation Status</th>
            <th class="text-left p-3">Medical Record</th>
            <th class="text-left p-3">Chat</th>
            <th class="text-left p-3">Cancel Booking</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-booking>
          <tr>
            <td>
              <button (click)="viewPatientDetails(booking)" class="certificate-button1">View</button>
            </td>
            <td class="text-left p-3">{{ booking.payBookDate | date }}</td>
            <td class="text-left p-3">{{ booking.startTime }}</td>
            <td class="text-left p-3">{{ booking.consultationMethod }}</td>
            <td class="text-left p-3">
              <span [ngClass]="{
                  'bg-green-100 text-green-800': booking.consultationStatus,
                  'bg-red-100 text-red-800': !booking.consultationStatus
                }" class="px-2 py-1 rounded">
                {{ booking.consultationStatus ? 'Consulted' : 'Not Consulted' }}
              </span>
            </td>
            <td class="text-left p-3">
              <button (click)="showCertificateModal(booking)" class="certificate-button">View</button>
            </td>
            <td class="text-left p-3">
              <button (click)="openChat(booking)" class="chatBtn">
                <svg height="1.6em" fill="white" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M881.1,720.5H434.7L173.3,941V720.5h-54.4C58.8,720.5,10,671.1,10,610.2v-441C10,108.4,58.8,59,118.9,59h762.2C941.2,59,990,108.4,990,169.3v441C990,671.1,941.2,720.5,881.1,720.5L881.1,720.5z M935.6,169.3c0-30.4-24.4-55.2-54.5-55.2H118.9c-30.1,0-54.5,24.7-54.5,55.2v441c0,30.4,24.4,55.1,54.5,55.1h54.4h54.4v110.3l163.3-110.2H500h381.1c30.1,0,54.5-24.7,54.5-55.1V169.3L935.6,169.3z M717.8,444.8c-30.1,0-54.4-24.7-54.4-55.1c0-30.4,24.3-55.2,54.4-55.2c30.1,0,54.5,24.7,54.5,55.2C772.2,420.2,747.8,444.8,717.8,444.8L717.8,444.8z M500,444.8c-30.1,0-54.4-24.7-54.4-55.1c0-30.4,24.3-55.2,54.4-55.2c30.1,0,54.4,24.7,54.4,55.2C554.4,420.2,530.1,444.8,500,444.8L500,444.8z M282.2,444.8c-30.1,0-54.5-24.7-54.5-55.1c0-30.4,24.4-55.2,54.5-55.2c30.1,0,54.4,24.7,54.4,55.2C336.7,420.2,312.3,444.8,282.2,444.8L282.2,444.8z" />
                </svg>
                <span class="tooltip">Chat</span>
              </button>
            </td>
            <td class="text-left p-3">
              <!-- <button class="cancelButton"
                (click)="confirmCancelBooking(booking.userId._id, booking._id, booking.amount)" label="Cancel Booking">
                Cancel
              </button> -->
              <label (click)="confirmCancelBooking(booking.userId._id, booking._id, booking.amount)"
                class="relative inline-flex items-center cursor-pointer">
                <input type="checkbox" value="" class="sr-only peer">
                <div
                  class="peer ring-0 bg-rose-400  rounded-full outline-none duration-300 after:duration-500 w-12 h-12  shadow-md peer-checked:bg-emerald-500  peer-focus:outline-none  after:content-['✖️'] after:rounded-full after:absolute after:outline-none after:h-10 after:w-10">
                </div>
              </label>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="paginatorCenter" let-state>
        </ng-template>
      </p-table>

      <p-dialog header="Medical Record" [(visible)]="visible" modal="true" width="300" [style]="{ width: '50vw' }">
        <ng-container *ngIf="selectedBooking && selectedBooking.userId.medCertificate">
          <img [src]="selectedBooking.userId.medCertificate" alt="Medical Record" class="w-full h-auto" />
        </ng-container>
        <ng-container *ngIf="selectedBooking && !selectedBooking.userId.medCertificate">
          <p>No medical records available</p>
        </ng-container>
      </p-dialog>

      <!-- Modal for cancel booking -->
      <p-dialog header="Cancel Booking Confirmation" [(visible)]="visibleCancelModal" [style]="{ width: '25rem' }">
        <span class="p-text-secondary block mb-5">Are you sure you want to cancel this booking</span>
        <div class="flex justify-content-end gap-2">
          <p-button label="No" severity="secondary" (click)="visibleCancelModal = false" />
          <p-button label="Yes"
            (click)="changeBookingStatus(userIdToDelete, bookingIdToDelete, amountToDelete); visibleCancelModal = false" />
        </div>
      </p-dialog>
    </div>